h1 {
    text-align:center;
    font-size: 40px;
    background-image: url(sunset.jpg);
    background-color:#a52a2a;
    width: 100%;
    margin:auto;
    padding: 80px;
    border: 3px solid rgb(255, 255, 255);
    line-height: 200px;
    height: 270px;
    grid-area:head;
    background-position: bottom 100% left 80px;
}

body { font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: rgb(255, 128, 0);
}

h2 { 
    color: rgb(240, 16, 16); 
} 
   
td {
    font-weight: bold;
}

td.today {
    border: 3px solid rgb(0, 0, 0);
    text-shadow:3px 3px 5px rgb(0, 0, 0); 
    background: rgb(255, 1, 1);
    color: white;
}

p {
    font-size: 100%;
    font-weight: bold;
}    

ul { font-size: 100%;
    font-weight: bold;
    
}

ul li {padding-bottom: 20px;
}

table {
    text-shadow:1px 1px 3px rgb(92, 85, 85); 
    position: relative;left:1px;
    font-size: 100%;
    border-collapse: collapse;
    background: white;
    color: black;
    background-color: lightgrey;
    border: 3px solid rgb(255, 255, 255);
    grid-area: calendar;
}

table caption {
    background-color: #a52a2a;
    border: 3px solid rgb(255, 255, 255);
}

th {
    color: white; 
    background: rgb(255, 128, 0);
}

th.weekend {
    color: white; 
    background: rgb(255, 1, 1);
}

div#wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "head head" "calendar info" "calendar history" "footer footer";
}

div#info {
    position: relative;left: 80px;
    grid-area: info;
    font-size: 150%;
}

div#history {
    position: relative;left:50px;
    font-size: 150%;
    grid-area: history;
    
}
tbody tr {
    text-align: center;
}
caption h2 {
    color: aliceblue;    
}
h2{
    text-shadow:1px 1px 3px rgb(39, 37, 37) 
}
.lastmonth{
    color: aliceblue;
    opacity: 70%;
}
.nextmonth {
    color: aliceblue;
    opacity:70% 